@theme {
  --color-qraving-bg: #FAFAF8;
  --color-qraving-card-border: #D6F0A4;
  --color-qraving-button: #90CD1D;
  --color-qraving-text: #1D2D00;
  --color-qraving-red: #E3000F;
  --z-60: 60;
  --z-70: 70;
}
