@theme {
  --color-qraving-bg: #FFFFFF;
  --color-qraving-card-border: #FFE082;
  --color-qraving-button: #FFD04D;
  --color-qraving-text: #1D2D00;
  --color-qraving-red: #E3000F;
  --z-60: 60;
  --z-70: 70;
}
